<!DOCTYPE html>
<html>
<body>

<h2>Enter Comments for  MasterCard Organization </h2>

<form action="/item/add" target="_self" method="POST">
  Comment:<br>
  <textarea name="Comment" rows="10" cols="30"></textarea>
  <br>
  <input type="hidden"  name="org" value="MasterCard">
  <input type="submit" value="Add">
</form>



</body>
</html>